<link rel="stylesheet" th:href="@{/footer.css}" href="footer.css">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<footer class="footer">
    <ul class="social-links">
        <label class="social-links__label">Síguenos</label>
        <li class="social-links__networks-container">
            <a href="https://whatsapp.com">
                <img class="social-links__logo" src="whatsapp.png" alt="whatsapp">
            </a>
            <a href="https://instagram.com">
                <img class="social-links__logo" src="instagram.png" alt="instagram">
            </a>
            <a href="https://x.com">
                <img class="social-links__logo" src="gorjeo.png" alt="X">
            </a>
            <a href="https://youtube.com">
                <img class="social-links__logo" src="youtube.png" alt="youtube">
            </a>
            <a href="https://facebook.com">
                <img class="social-links__logo" src="facebook.png" alt="facebook">
            </a>
        </li>
    </ul>

    <ul class="about-links">
        <label class="about-links__label">Sobre nosotros</label>
        <li class="about-links__item">
            <a href="about.html">
                <span class="links">Acerca de OnlineShopping</span>
            </a>
        </li>
        <li class="about-links__item">
            <a href="privacity.html">
                <span class="links">Política de Privacidad</span>
            </a>
        </li>
        <li class="about-links__item">
            <a href="terms.html">
                <span class="links">Términos y condiciones</span>
            </a>
        </li>
        <li class="about-links__item">
            <a href="preguntas.html">
                <span class="links">Preguntas frecuentes</span>
            </a>
        </li>
    </ul>

    <ul class="about-links">
        <label class="about-links__label">Contacto</label>
        <li class="about-links__item">
            <a href="soporte.html">
                <span class="material-symbols-outlined">settings</span>
                <span class="links-contact">Soporte</span>
            </a>
        </li>
        <li class="about-links__item">
            <a href="help.html">
                <span class="material-symbols-outlined">help</span>
                <span class="links-contact">Ayuda</span>
            </a>
        </li>
        <li class="about-links__item">
            <a href="help.html">
                <span class="material-symbols-outlined">call</span>
                <span class="links-contact">0800-555-4545</span>
            </a>
        </li>
    </ul>
</footer>
