<link rel="stylesheet" type="text/css" th:href="@{/header.css}" href="header.css">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<header class="custom-header">

    <div class="menu__container">
        <input type="checkbox" id="open-menu">
        <label class="material-symbols-outlined" for="open-menu" id="open">menu</label>
    </div>

    <div class="image-barra__container">

        <a href="/OnlineShopping/catalogo" class="custom-header__logo">
            <img src="logo.png" alt="Logo">
        </a>

        <div class="busqueda-container">
            <!-- Contenedor de búsqueda -->
            <div class="input-wrapper">
                <!-- Ícono de búsqueda -->
                <span class="material-symbols-outlined search-icon">search</span>
                <!-- Campo de entrada -->
                <input 
                    id="search" 
                    type="text" 
                    name="q" 
                    value="" 
                    placeholder="Buscar..." 
                    class="input-text" 
                    maxlength="128" 
                    role="combobox" 
                    aria-haspopup="true"  
                    aria-autocomplete="list"  
                    aria-expanded="false"  
                    autocomplete="off" 
                    aria-controls="search_autocomplete"  
                    >
            </div>
            <!-- Contenedor de autocompletado -->
            <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
        </div>


       <div class="account-dropdown">
        <button class="account-button">
            Mi cuenta <span class="material-symbols-outlined">arrow_drop_down</span>
        </button>
        <div class="dropdown-content">
            <a href="/OnlineShopping/carrito">Carrito</a>
            <a href="/OnlineShopping/historial">Historial de compras</a>
            <a href="/OnlineShopping/configuracion">Configuración de cuenta</a>
            <a href="/OnlineShopping/logout" id="logout-link">Cerrar sesión</a>
        </div>
    </div>

    </div>

    <div class="nav-container">
        <nav class="custom-header__nav">
            <ul class="nav-list">
                <li class="item__container">
                    <label class="material-symbols-outlined">tv</label>
                    <a class="nav__items categoria-link" href="/OnlineShopping/catalogo?categoria=TV" data-category="TV">TV</a>
                </li>
                <li class="item__container">
                    <label class="material-symbols-outlined">computer</label>
                    <a class="nav__items categoria-link" href="/OnlineShopping/catalogo?categoria=Notebooks-PC" data-category="Notebooks/PC">Notebooks/PC</a>
                </li>
                <li class="item__container">
                    <label class="material-symbols-outlined">air_purifier_gen</label>
                    <a class="nav__items categoria-link" href="/OnlineShopping/catalogo?categoria=Aires-Acondicionados" data-category="Aires-Acondicionados">Aires Acondicionados</a>
                </li>
                <li class="item__container">
                    <label class="material-symbols-outlined">smartphone</label>
                    <a class="nav__items categoria-link" href="/OnlineShopping/catalogo?categoria=Celulares-Tablets" data-category="Celulares-Tablets">Celulares/Tablets</a>
                </li>
                <li class="item__container">
                    <label class="material-symbols-outlined">videocam</label>
                    <a class="nav__items categoria-link" href="/OnlineShopping/catalogo?categoria=Camaras-Seguridad" data-category="Camaras-Seguridad">Cámaras/Seguridad</a>
                </li>
                <li class="item__container">
                    <label class="material-symbols-outlined">Sports_Esports</label>
                    <a class="nav__items categoria-link" href="/OnlineShopping/catalogo?categoria=Gaming-Insumos" data-category="Gaming-Insumos">Gaming/Insumos</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
