<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="headerSimple.css" th:href="@{/headerSimple.css}"/>
  </head>
  <body>
    <header class="custom-header">
      <a href="#" class="custom-header__logo">
        <img src="logo.png" alt="Logo" />
      </a>
      <nav class="custom-header__nav">
        <a href="#">Ayuda</a>
      </nav>
    </header>
  </body>
</html>