<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/login.css}">
    </head>
    <body>
        <div id="header_container"></div>
        <!-- Main Content -->
        <main>
            <div class="form">
                <h1>¿Ya tenés cuenta?</h1>
                <form action="/OnlineShopping/users/login" method="POST" class="form__form" id="loginForm">
                    <div class="form__input-container">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
                    </div>
                    <div class="form__input-container">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" required>
                    </div>
                    <div class="form__input-container">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" required placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form__input-container">
                        <button type="submit" id="submit">Ingresá</button>
                    </div>
                    <div class="form_register-container">
                        <p>¿No tienes una cuenta?</p>
                        <a href="/OnlineShopping/register">Registrate aqui</a>
                    </div>
                </form>
            </div>
        </main>

        <script>
            const loginForm = document.getElementById('loginForm');
            const errorDiv = document.getElementById('error');

            loginForm.addEventListener('submit', async (event) => {
                event.preventDefault(); // Evitar recargar la página al enviar el formulario

                const username = document.getElementById('username').value;
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                try {
                    const response = await fetch("http://localhost:6060/OnlineShopping/users/login", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({username, email, password}),
                        credentials: "include" // Para enviar y recibir cookies
                    });

                    const data = await response.json(); // Parsear la respuesta JSON
                    console.log("Respuesta del servidor:", data); // Verifica la respuesta

                    if (data.authenticated) {
                        sessionStorage.setItem("userLoggedIn", "true"); // Guardar estado en sessionStorage
                        window.location.href = "/OnlineShopping/catalogo"; // Redirigir a la página principal
                    } else {
                        alert("Credenciales incorrectas");
                    }
                } catch (error) {
                    console.error("Error:", error);
                    alert("No se pudo conectar con el servidor");
                }
            });
        </script>
        <script>
            // Función para cargar el archivo header.html
            fetch('/OnlineShopping/headerSimple')
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('header_container').innerHTML = data;
                    })
                    .catch(error => {
                        console.error("Error al cargar el header:", error);
                    });
        </script>
    </body>
</html>
