<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Principal</title>
    <link rel="stylesheet" th:href="@{/principal.css}">
</head>
<body>
     <div th:replace="~{header :: header}"></div>
     <link rel="stylesheet" th:href="@{/header.css}">
     
     
    <script>
        // Obtener los enlaces de "Ingresar" y "Creá tu cuenta"
        document.addEventListener("DOMContentLoaded", function() {
            const loginLink = document.getElementById('login-link');
            const registerLink = document.getElementById('register-link');

            // Agregar eventos de clic para redirigir a las páginas correspondientes
            if (loginLink) {
                loginLink.addEventListener('click', function(event) {
                    event.preventDefault();  // Evitar que el enlace se siga automáticamente
                    window.location.href = '/OnlineShopping/login';  // Redirigir a la página de login
                });
            }

            if (registerLink) {
                registerLink.addEventListener('click', function(event) {
                    event.preventDefault();  // Evitar que el enlace se siga automáticamente
                    window.location.href = '/OnlineShopping/register';  // Redirigir a la página de registro
                });
            }
        });
    </script>
</body>
</html>